.header {
    width: 100%;
    height: 6rem;
    margin-top: -10px !important;
    
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #77002e;
    padding: 0;
    color: white;
  }

  
  .logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
  }

  span {
    pointer-events: none;
  }
  
  @media  (max-width: 400px) {
    .header span {
      margin-left: 15px !important;
      font-size: 1rem;
  }
    .header ul {
      list-style: none;
      margin: 0;
      padding: 10px;
      display: inline-flex;
      align-items: baseline;
    }
    .header a {
      text-decoration: none;
      font-size: 0.59rem;
      color: #fcb8d2;
    }
  }

  @media  (min-width: 405px) and (max-width: 566px) {
    .header span {
      margin-left: 15px !important;
      font-size: 1.2rem;
  }
    .header ul {
      list-style: none;
      margin: 0;
      padding: 10px;
      display: inline-flex;
      align-items: baseline;
    }
    .header a {
      text-decoration: none;
      font-size: 0.9rem;
      color: #fcb8d2;
    }
  }

  @media  (min-width: 567px) {
    .header span {
      margin-left: 15px !important;
      font-size: 1.4rem;
  }
  .header ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: inline-flex;
    align-items: baseline;
  }
  .header a {
    text-decoration: none;
    font-size: 1rem;
    color: #fcb8d2;
  }
}
 
  
  .header li {
    margin-left: 1rem;
  }
  
  * {
    outline: none;
  }

  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  
  .badge {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
  }
  